.container{
    min-height: calc(100vh - 100px);
    /*height: 1008px;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(223px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(96px,1fr));
    font-size: 1.4rem;
    line-height: 1.5;
}
.colorBox{
    padding: 1.6rem 3.2rem;
    cursor: pointer;
    font-size: 1.6rem;


}